.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-attendance-list-area {
  padding: 20px;
}

.user-attendance-result-area {
  margin-top: 10px;
  .mat-column-day {
    width: 10%;
  }
}

.saturday {
  color: blue;
}

.holiday {
  color: mediumvioletred;
}
